<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>backend</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.xhtml</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.xhtml</welcome-file>
  </welcome-file-list>
  
  <servlet>
    <description></description>
    <display-name>UserProfile</display-name>
    <servlet-name>DRXProfile</servlet-name>
    <servlet-class>com.mfwp.servlet.UserProfileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DRXProfile</servlet-name>
    <url-pattern>/api/Profile</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>Register</display-name>
    <servlet-name>DRXRegister</servlet-name>
    <servlet-class>com.mfwp.servlet.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DRXRegister</servlet-name>
    <url-pattern>/api/Register</url-pattern>
  </servlet-mapping>
  
  
   <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>DRXLogin</servlet-name>
    <servlet-class>com.mfwp.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DRXLogin</servlet-name>
    <url-pattern>/api/login</url-pattern>
  </servlet-mapping>
  
</web-app>